{{foo baz baz "foo | bar" baz | hello}}

{{foo.bar.baz foo bar "boooz foo \" hello " baz}}

HALT!

{{foo.bar.baz}}
{{&foo.bar.baz}}

{{hello 1 2 az "world '$_COOKIE' \" planets"}}
{{true false}}
{{&true false}}
{{&1 "hello world!"}}

{{hello}}

{{?hello}}
	{{#loop}}
	{{/loop}}
{{/hello}}

{{!hello}}
	unless hello
{{/hello}}

{{@foo one two three}}
	macro
{{/foo}}

{{^foo}}

{{@.foo one two three}}

{{foo bar baz 1 2 "foo hello"}}
{{&foo}}

{{> templates/foonested.mustache }}

{{1 2 hello 2 | world}}
{{1 2 hello 2}}
{{hi 2 hello 2}}
{{&hi 2 hello 2}}
